nav{
    padding: 1%;
}

body{
    display: block;
    margin: 0;
}

element.style{
    padding: 0 auto;
}

p{
    font-family: helvetica;
}

.heroImg{
    height: 150px;
    padding:25px;
    margin:0 auto;
}

footer{
    background-color: rgb(14, 1, 23);
    padding: 1%;
}

ul{
    display: flex;
    justify-content: space-around;
    margin-left:50%
}

ul button{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

#intro{
   font-family: helvetica, sans-serif;
   text-align: center;
}

ul li{
    display: inline-block;
    color: white;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

a:link{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-transform: capitalize;
}

a:visited{
    color: white;
}

#navWrapper{
    background-color: rgb(14, 1, 23);
}

.heading{
    display: flex;
    font-family: 'open sans';
    justify-content: center;
    padding-top: 50px;
    font-size: 28px;
}

#subHead{
    display: flex;
    justify-content: center;
}

#resume{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

#resume button{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

#contact{
    padding-top: 25px;
    align-self: center;
}

#contact button{
    background-color: black;
    color: white;
    font-weight: bold;
}

section#mySkills article{
    display: flex;
    flex-direction: row;
    margin: 50px;
    flex-wrap: column;
    justify-content: space-between;
}

section#about article{
    display: flex;
    flex-direction: row;
    margin: 50px;
    flex-wrap: column;
    justify-content: space-between;
}

.imageContainerR,
.imageContainerL{
    display: flex;
    width: 50%;
    overflow: hidden;
}

.imageContainerA{
    width: 50%;
    padding: 4%;
}

.imageContainerR img,
.imageContainerL img{
    max-width: 100%;
}

.imageContainerA img{
    max-width: 100%;
}

.descriptionR,
.descriptionL{
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 50%;
    align-self: center;
}

.descriptionA{
    display: flex;
    flex-direction: column;
    margin: 50px;
    width: 50%;
    align-self: top;
}

.desc{
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 25px 50px;
}

h2.skills{
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

#gridContainer{
    margin: 50px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 100px;
    grid-template-areas: 
    "project1 project2 project3"
    "p1Text p2Text p3Text";
}

#project1{
    grid-area: project1;
    background-image: url("../Images/Jump\ link\ covers-01.jpg");
    margin: 2%;
    background-size: cover;
}

#project2{
    grid-area: project2;
    background-image: url("../Images/Jump\ link\ covers-04.jpg");
    margin: 2%;
    background-size: cover;
}

#project3{
    grid-area: project3;
    background-image: url("../Images/Jump\ link\ covers-02.jpg");
    margin: 2%;
    background-size: cover;
}

#p1Text{
    grid-area: p1Text;
    text-align: center;
    font-family: Helvetica;
}

#p2Text{
    grid-area: p2Text;
    text-align: center;
    font-family: Helvetica;
}

#p3Text{
    grid-area: p3Text;
    text-align: center;
    font-family: Helvetica;
}

.work{
    font-family: helvetica;
    text-align: center;
}

h1{
    text-align: center;
}

@media (max-width: 940px){
    ul{
        display: flex;
        justify-content: space-around;
        margin: 2%
    }

    nav ul{
        text-align: center;
    }

    .heading{
        display: flex;
        font-family: helvetica, sans-serif;
        justify-content: center;
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }

    section#mySkills article{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    section#mySkills article :nth-child(1n){
        display: flex;
        flex-direction: column;
    }

    section#mySkills :nth-child(2n){
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;
    }

    section#about article{
        display: flex;
        flex-direction: column;
        margin:none;
    }

    .imageContainerA{
        width: 100%;
        padding: 0%;
    }

    .descriptionA{
        display: flex;
        flex-direction: column;
        width: 82.5%;
        margin-right: 50px;
    }

    h2{
        text-align: center;
    }

    .imageContainerL,
    .imageContainerR{
        width: 100%;
    }

    h1{
        text-align: center;
        font-family: 'open sans';
    }

    #gridContainer{
        margin: 25px;
        display: grid;
        grid-template-rows: 300px 100px 300px 100px 300px 100px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "project1"
        "p1Text"
        "project2"
        "p2Text"
        "project3"
        "p3Text"
    }

    #project1{
        grid-area: project1;
        background-image: url("../Images/Jump\ link\ covers-01.jpg");
        margin: 2%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    #project2{
        grid-area: project2;
        background-image: url("../Images/Jump\ link\ covers-04.jpg");
        margin: 2%;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    
    #project3{
        grid-area: project3;
        background-image: url("../Images/Jump\ link\ covers-02.jpg");
        margin: 2%;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    #p1Text{
        grid-area: p1Text;
        text-align: center;
        font-family: Helvetica;
    }
    
    #p2Text{
        grid-area: p2Text;
        text-align: center;
        font-family: Helvetica;
    }
    
    #p3Text{
        grid-area: p3Text;
        text-align: center;
        font-family: Helvetica;
    }
}